.data-table {
  padding: 0 100px;
  padding-top: 292px;
  .table-container {
    // overflow: auto;
    height: calc(100vh - 10px - 80px - 217px);
    .orders-table {
      width: 100%;
      thead {
        border: 0;
        tr {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border-top: 0;
        }
        th {
          text-align: left;
          padding: 10px;
          text-transform: uppercase;
          font-weight: 500;
        }
      }

      td {
        border-bottom: 1px solid rgb(241, 247, 248);
        height: 50px;
        padding: 10px;
        color: rgb(92, 114, 119);
        &:nth-child(3) {
          min-width: 284px;
        }
        &:nth-child(2) {
          min-width: 120px;
        }
      }

      .delivered {
        background-color: rgb(196, 196, 249);
        text-align: center;
        padding: 5px 20px;
        border-radius: 12px;
        color: #000;
      }

      .paid {
        background-color: rgb(185, 221, 205);
        text-align: center;
        padding: 5px 20px;
        border-radius: 12px;
        color: #000;
      }

      .market {
        background-color: rgb(61, 61, 61);
        color: white;
        padding: 5px;
        margin-left: 10px;
      }

      .first {
        color: #000;
        background-color: rgb(252, 237, 118);
        border-radius: 12px;
        padding: 5px 15px;
        margin-left: 10px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .data-table {
    padding: 0;
    padding-top: 228px;
    // .table-container {
    //   overflow: hidden;
    // }
  }
}
